@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Autenticando...</p>
            </Authorizing>
            <NotAuthorized>
                <Viamatica.Blog.WASM.Pages.RedireccionarAlAcceso></Viamatica.Blog.WASM.Pages.RedireccionarAlAcceso>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
      <CascadingAuthenticationState>
          <LayoutView Layout="@typeof(MainLayout)">
              <p>Error, no se encuentra nada en esta dirección</p>
          </LayoutView>
      </CascadingAuthenticationState>
    </NotFound>
</Router>
