@page "/"

@inject IJSRuntime JSRuntime
@inject IPublicacionService _service;

@using Viamatica.Blog.WASM.Servicios.IServicio

<PageTitle>Publicaciones</PageTitle>

<div class="row">
    @foreach (var publicacion in Publicaciones)
    {
        <div class="col-3 mt-3">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">@publicacion.Titulo</h3>
                    </div>

                    <div class="card-body">
                        <img src="@publicacion.RutaImagen" class="img-fluid" />
                    </div>

                    <div class="card-footer">
                        <NavLink href="@($"detalle-publicaciones/{publicacion.PublicacionId}")">
                            Mas información
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {

    private IEnumerable<Viamatica.Blog.WASM.Modelos.Publicacion> Publicaciones = new List<Viamatica.Blog.WASM.Modelos.Publicacion>();

    protected override async Task OnInitializedAsync()
    {
        Publicaciones = await _service.GetPublicaciones();
    }
    
}
