
@if(noAutorizado)
{
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body text-center">
                    <h4>No tiene permisos para ingresar, si ya existe como usuario debe iniciar sesion caso contrario debe registrase</h4>
                </div>
            </div>
        </div>
    </div>
    
}


@code {

}
